.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

.custom-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease;
}

.custom-link:hover,
.custom-link:focus {
  color: #ccc;
}

.link-icon {
  font-size: 2rem;
  color: #fff;
  transition: all 0.2s ease;
}

.link-icon:hover,
.link-icon:focus {
  transform: scale(1.1);
}
