@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&family=Wix+Madefor+Display:wght@400;500;700&display=swap');

:root {
  --primary: #7e29ce;
  --secondary: #4218d5;
  --red: #f02d34;
}

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Onest', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Wix Madefor Display', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Common ------------------------------------------------------------------ */
.max-width-container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.link-icon {
  display: inline-block;
  font-size: 1.8em;
  color: white;
  transition: transform 0.2s ease;
}

.link-icon:hover {
  transform: scale(1.2, 1.2) translateY(-2px);
}

/* Components ----------------------------------------------------------------- */

/* Hero Section */
.hero {
  background-image: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.hero__container {
  position: relative;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.hero__image {
  position: relative;
  z-index: 1;
}

.hero__product-name {
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
}

.hero__watermark {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 9rem;
  opacity: 0.2;
  z-index: 0;
}

/* Product Section */
.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  min-width: 250px;
  transition: transform 0.5s ease;
  color: #324d67;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card__image {
  border-radius: 15px;
  /* background-color: #ebebeb; */
  transform: scale(1, 1);
  width: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.product-card__link {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 0.5rem;
  opacity: 0.9;
  background-color: var(--primary);
  color: white;
  transform: translateY(-100%);
  border-radius: 0 0 0 15px;
  transition: transform 0.1s ease-in-out;
}

.product-card:hover .product-card__link {
  transform: translateY(0);
}

.product-card__link:hover {
  filter: brightness(1.2);
  color: white;
}

.product-card__name {
  margin-top: auto;
  font-weight: 500;
  font-size: 1rem;
}
.product-card__price {
  font-weight: 800;
  margin-top: 6px;
  color: black;
}

.product-card__price > span {
  font-weight: 500;
  font-size: 0.8rem;
  text-decoration: line-through;
  color: #324d67;
  margin-right: 0.25rem;
}

/* Service */
.service__icon {
  flex-shrink: 0;
  font-size: 1.8rem;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: solid 2px var(--primary);
}

.service__heading {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
}

.service__text {
  opacity: 0.8;
  font-size: 1rem;
  line-height: 1.5;
}

/* Hotsale Banner */
.hotsale-banner {
  padding: 5rem 0;
  background-color: var(--red);
  position: relative;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}

.hotsale-banner__title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hotsale-banner__description {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hotsale-banner__link {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: underline;
}

.hotsale-banner__left,
.hotsale-banner__right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.hotsale-banner__left h3 {
  font-weight: 900;
  font-size: 80px;
  line-height: 0.8;
}

.hotsale-banner__image {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}

.hotsale-banner__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Product Detail Image */
.product-detail-image {
  width: 100%;
  height: auto;
}

/* Product carousel */
.products-carousel {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.products-carousel__container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.products-carousel__track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
  animation-delay: 3s;
}
.products-carousel__track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media Queries -------------------------------------------------------------- */

@media (max-width: 768px) {
  .hero__product-name {
    font-size: 3.5rem;
  }

  .hero__watermark {
    font-size: 2rem;
    position: relative;
  }

  .hotsale-banner__image {
    position: static;
    transform: none;
    width: 100%;
  }

  .service__icon {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
  }
}

@media (min-width: 576px) {
  .nav-mr-lg {
    margin-right: 3rem;
  }

  .product-detail-image {
    width: 500px;
    height: 500px;
  }

  .hotsale-banner__right {
    margin-right: 2rem;
  }
}
